body{
    background-color:grey;
    margin: 0;
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-family: Arial, sans-serif;
    padding: 20px; /* Add padding for smaller screens */
    box-sizing: border-box;
    background-size:cover;

}

table{
     background-color:black;

}
th{
    padding: 30px;
    background-color:azure;
}
tr{
    padding : 20px;
    background-color:aqua;
}
#_1{
    background-color : yellow;
    border : 3px solid rgb(103, 38, 224);
    padding: 30px;
    margin : 10px;

}
.head1{
    text-shadow:6px 6px 8px grey,-3px 3px 5px gold;
    font-family:sans-serif,Arial, Helvetica, sans-serif;
    font-size:80px;
    border:8px outset brown;

}
.pr{
    color:rgb(0, 0, 0); 
    font-family:sans-serif,arial;
    font-weight: 2px;
    border: 5px outset rgb(28, 182, 243);
    margin: 40px;
    padding : 50px;
    justify-content:center;
    
    align-items:center;
    background-color: rgb(74, 101, 255);
}
.div3{
    border:4px solid #ff0000;
    background-color:coral;
     margin : 40px;
     padding: 50px;
}
.div2{
    border: 4px solid rgb(243, 201,194);
     background-color:blueviolet; 
     margin: 40px; 
     padding : 40px;
}
.div1{
    border: 3px solid rgb(0, 0, 0);
     background-color:chartreuse; 
     margin: 40px ; 
     padding: 30px;
     box-shadow: 8px 8px 7px white;
}
.vd{
    border:2px outset rgb(0, 0, 0);
    box-shadow:6px 5px 5px gold, -6px -6px 6px red;
}
.head2{
    border:5px outset rgb(233, 12, 49);
    text-shadow: 3px 3px 5px blueviolet;
    padding : 10px;
}
.btn{
    color:rgb(15, 15, 15);
     background-color: rgb(233, 236, 12) ;
     padding:20px;
     border-radius:30px;
      /* Or pink, per your earlier question */
     box-shadow: 5px 5px 5px gold, -5px -5px 5px red;
}