.form{
    background-color:rgb(105, 144, 228);
    border: 0px solid black;
    box-shadow: 5px 5px 5px black,-5px  -5px 3px black;
    padding: 10px;
    margin: 30px;
    text-align:center;
    border-radius:30px;
}
#Fb {
    width: 300px; /* Set a fixed width */
    height: 100px; /* Set a fixed height */
    resize: none; /* Prevent resizing by the user */
    box-sizing: border-box; /* Ensure padding and border are included in the width/height */
    
}