@font-face{
  src: url("fonts/Roboto.ttf");
 font-family:Roboto;
}

.int{
    color:white;
    width: 800px;
    height: 500px;
    box-shadow:5px 5px 5px;
    border-radius: 20px;
    align-items:right;
    background-image: url("images/avatar1.jpg");
    background-repeat:no-repeat;
    background-size:cover,contain;
    align-items:center;
}
#det{
    padding: 10px;
    margin: 30px;
    width:200px;
    height:100px;
    background-color:rgb(0, 0, 0);
    border-radius: 10px;
    
}
